.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}

@media (max-width: 767px) {
  .profile__title {
    font-size: calc(((100vw - 320px) / (767 - 320)) * (42 - 27) + 27px);
    line-height: calc(((100vw - 320px) / (767 - 320)) * (48 - 32.68) + 32.68px);
    text-align: right;
  }
}
