.profile__user-picture {
  min-height: 120px;
  min-width: 120px;
  border-radius: 60px;
  /* background-image: url(../../../images/image.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.profile__user-picture:hover .profile__user-pen-editing {
  opacity: 1;
  cursor: pointer;
}

.profile__user-picture::before {
  content: "";
  height: 120px;
  width: 120px;
  border-radius: 60px;
  position: absolute;
  top: -1px;
  left: -2px;
  background: black;
  opacity: 0;
  transition: opacity .5s ease-out;
  z-index: 1;
}

.profile__user-picture:hover::before {
  opacity: 0.8;
  cursor: pointer;
}
